/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */

.navbar-toggler{
    background: white;
    border: 2px solid #ff8b38;

}

/*****************************
 * Banner responsive Css
 * ****************************/

.banner{
  padding-top: 40px !important;
  padding-bottom: 34px!important;
}

.ban-title{
  display: table-cell!important;
  height: 0vh !important;
  vertical-align: top !important;
  padding: 0px !important;
}
.ban-title p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px !important; 
    font-weight: 400;
    letter-spacing: 2px;
    width: 57%;
}
.ban-title h2 {
    font-family: 'Oswald', sans-serif ;
    font-size: 42px !important;
    font-weight: 500;
    padding-bottom: 18px !important;
    width: 52%;
}


.ban-img{
    width: 61%;
    position: absolute;
    top: 0px!important;
    right: 0px !important;
}

.ban-btn{
  font-size: 14px !important;
  padding: 6px 8px !important;
  margin-top: 4px!important;

}

/*****************************
 * About responsive Css
 * ****************************/

.about{
  padding: 24px 0px!important;
}

.ab-img{
  margin-left: 60px !important;
  width: 65% !important;
  height: 30vh;

}
.sm-img{
  height: 100%;
}
.about-me{
   margin-top: 35px !important;
   transition: 0.5s;
   width: 93%;
   text-align: center;
}
.about-me p{
  padding:0!important;
}
.about-me{
    box-shadow: 0px 3px 15px rgb(0 0 0 / 50%)!important;
    padding: 24px;
    border-radius: 7px;
    transition: 0.5s;
    margin-left: 9px!important;
}

.graduation{
  margin-bottom: 20px!important;
}
.graduation i{
  margin-left: 141px !important;
}

.srv-iteams{
  margin-top:26px !important ;
}

.srv-01{
  margin-left: 38px !important;
  padding: 18px !important;
  margin-bottom: 16px;
}
.srv-02{
  margin-left: 38px !important;
  padding: 18px !important;
  margin-bottom: 16px;
}
.srv-03{
  margin-left: 38px !important;
  padding: 18px !important;
  margin-bottom: 16px;
}
























  
}